.page1{
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color:lightblue;
}

.page1{
  text-align: center;
  padding: 50px 20px;
}

.top-text{
  font-size: 25px;
  margin-bottom: 25px;
}
@media (max-width:768px) {

h1{
  
  font-size: 40px;
  margin: 0;
  line-height: 1.1;

}

}

p{
  font-size: 28px;
  line-height: 1.5;
  margin: 0;
}
button{
  background-color: #1e3a8a;
  color: white;
  border: none;
  padding:10px 20px;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
  margin-top:30px;
}
img {
  max-width: 100%;
  height: auto;
}
.page2 {
  text-align: center;
}
h2{
  color: blue;
}
.card img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.card p {
  color: blue;
}
.email {
  color: blue;
  font-size: 14px;
}
.profile1 {
  text-align: center;
}
.profile2 {
  text-align: center;
}
.box {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 20px;
  border-radius: 10px;
  background: #f5f5f5;

}
.icon img {
  width: 40px;

}
.content h1 {
  margin: 0;
}
.content p {
  margin:  0;
}